@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron" style="text-align:center">
    <h1>Adobe License Management</h1>
    <p class="lead">This website is used to facilitate requests for Adobe Licenses at The University of Texas at El Paso.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requests</h2>
        <p>
            Table of requests for Adobe Licenses.
        </p>
        <p>@Html.ActionLink("See list of requests", "Index", "Requests", null, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Help Desk Form</h2>
        <p>
            Fill out this form to create a new request for an Adobe License.
        </p>
        <p>@Html.ActionLink("Start a new request", "Index", "Requests", null, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Adobe ID Form</h2>
        <p>
            Fill out this form to add an Adobe ID to an End User.
        </p>
        <p>@Html.ActionLink("Add an Adobe ID to an existing End User", "Index", "Requests", null, null)</p>
    </div>
</div>