@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adobe License Management</h1>
    <p class="lead">This website is used to facilitate requests for Adobe Licenses at The University of Texas at El Paso.</p>
</div>