<br />
<h4>Role Descriptions</h4>

<p><strong>Owner:</strong> All privileges</p>
<p><strong>Administrator:</strong> All privileges except for creating/deleting/editing owners.</p>
<p><strong>Super User:</strong> Fill out forms, view tables, query tables</p>
<p><strong>User:</strong> Fill out forms</p>
<p><strong>None:</strong> Login and Registration only</p>