<div class="panel" id="ManualQuery">

    <div class="panel-heading">
        <h4>Manual Query</h4>
    </div>

    <div class="panel-body">
        <p>
            Please enter a query:<br />
            @Html.TextArea("manQuery", ViewBag.Query as string) <br />
            <input type="submit" value="Submit" />
        </p>
    </div>
</div>